body {
  margin: 0;
  font-family: Arial;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid black;
  padding: 20px;
  width: 200px;
  text-align: center;
}
